@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("../image/malangslbw (1).jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.lamlam {
    color: #064635;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.hijo {
    color:#00721c ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navlink {
    list-style: none;
}

.navlink a {
    text-decoration: none;
    color: white;
    background-color: #6d4d2f;
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 100px;
    height: 40px;
    object-fit: cover;
}

.mlg {
    text-shadow: 2px 2px 5px black;
    margin-left: 50px;
    margin-top: 150px;
    font-family: 'Funnel Display', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.mlg2 {
    position: absolute;
    font-family: 'Funnel Display', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
}

.klg {
    position: absolute;
    border-radius: 20px;
    width: 350px;
    height: auto;
    left: 30px;
    margin-top: 85px;
}

.jelajahi {
    font-family: 'Funnel Display', sans-serif;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;  
    backdrop-filter: blur(12px);
    margin-left: 500px;
    margin-top: 300px;
    transition: all 0.3s ease;
}

.jelajahi:hover {
    background: #074701;
    transform: scale(1.1);
}

.jelajahi2 {
    font-family: 'Funnel Display', sans-serif;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;  
    backdrop-filter: blur(12px);
    margin-left: 200px;
    margin-top: 300px;
    transition: all 0.3s ease;
}

.jelajahi2:hover {
    background: #074701;
    transform: scale(1.1);
}

/* FOOTER */
footer {
    margin-top: 40px;
    padding: 15px 0;
    background: rgba(228, 225, 225, 0.3);
    border-top: 1px solid rgba(255,255,255,0.4);
}

.footer-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 20px;   
}

.footer-row a {
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px white;
    font-size: 16px;
}

.icon {
    width: 70px;
    height: auto;
}

.icon2 {
    margin-left: 8px;
    width: 50px;
    height: auto;
}

.icon3 {
    width: 70px;
    height: auto;
}
