@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("../image/bcafealamraya.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Funnel Display', sans-serif;
}

/* nav */
.navbar {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.lamlam {
    color: #064635;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.hijo {
    color: #00721c;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.hero {
    position: fixed;
    top: 150px;
    left: 80px;
    color: white;
}

.mlg {
    font-size: 70px;
    color: white;
    font-weight: bold;
}

.mlg2 {
    font-size: 17px;
    color: white;
    font-weight: bold;
    margin-top: -70px;
}

.btn {
    margin-top: 20px;
    background: rgb(1, 24, 8);
    color: white;
    width: 220px;
    height: 58px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    background: #1f1e1e;
}

.btn span {
    margin-left: 30px;
}

.card-container {
    width: 45%;
    margin-left: 800px;
    margin-top: 40px;
    text-align: center;
}

.img-row {
    display: flex;
    padding-right: 250px;
}

.img-review {
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.5);
    margin: 0px 20px;
}

.img-main {
    margin-right: 50px;
    margin-bottom: 70px;
    border-radius: 15px;
    width: 400px;
}

.text {
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 15px 5px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 500px;
    width: 500px;
}

.text2 {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    font-weight: bold;
    margin-right: 200px;
    margin-top: 10px;
    text-align: left;
}

/* FOOTER */
footer {
    margin-top: 40px;
    padding: 15px 0;
    background: rgba(228, 225, 225, 0.3);
    border-top: 1px solid rgba(255,255,255,0.4);
}

.footer-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 20px;   
}

.footer-row a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px white;
    font-size: 16px;
}

.icon {
    width: 70px;
    height: auto;
}

.icon2 {
    margin-left: 8px;
    width: 50px;
    height: auto;
}

.icon3 {
    width: 70px;
    height: auto;
}
