@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("../image/malangslbw (1).jpg") center/cover fixed no-repeat;
    font-family: 'Funnel Display', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.lamlam {
    color: #064635;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.hijo {
    color: #00721c;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.title-section {
    position: fixed;
    top: 180px;
    left: 80px;
    color: white;
}

.mlg {
    font-size: 70px;
    font-weight: bold;
}

.mlg2 {
    font-size: 17px;
    margin-top: -70px;
}

.btn {
    margin-top: 40px;
    background: rgb(1, 24, 8);
    color: white;
    width: 220px;
    height: 58px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 0 15px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    background: #201f1f;
}

.btn span {
    margin-left: 30px;
}

.wisata {
    padding-left: 25px;
    width: 45%;
    margin-left: 900px;
    margin-top: 50px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.judul {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    padding: 5px 15px;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.2);
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 20px;
}

.isi {
    display: flex;
    align-items: center;
    gap: 50px;
}

.img-review {
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.img-main {
    width: 300px;
    border-radius: 15px;
}

.desc {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    max-width: 600px;
}

/* FOOTER */
footer {
    margin-top: 40px;
    padding: 15px 0;
    background: rgba(228, 225, 225, 0.3);
    border-top: 1px solid rgba(255,255,255,0.4);
}

.footer-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 20px;   
}

.footer-row a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px white;
    font-weight: bold;
    font-size: 16px;
}

.icon {
    width: 70px;
    height: auto;
}

.icon2 {
    margin-left: 8px;
    width: 50px;
    height: auto;
}

.icon3 {
    width: 70px;
    height: auto;
}
